@import url('https://fonts.googleapis.com/css2?family=Island+Moments&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root{
    --bg-color: rgba(255, 255, 255, 1);
    --primary-color: rgba(54, 62, 70, 1);
    --bg-btn-color: rgba(254, 114, 92, 1);
    --bg-btn-hover-color: rgba(254, 114, 92, 0.8);
    /* --text-color: rgb(166, 180, 200); */
    --shadow-color: rgba(166, 180, 200, 0.57);
}
:root.dark{
    --bg-color: rgba(32, 34, 37, 1);
    --primary-color: rgba(166, 180, 200, 1);
    --bg-btn-color: rgba(254, 114, 92, 1);
    --bg-btn-hover-color: rgba(254, 114, 92, 0.8);
    /* --text-color: rgb(166, 180, 200); */
    --shadow-color: rgba(0, 0, 0, 0.57);
}

body{
    background-color: var(--bg-color);
    color: var(--primary-color);
    font-family: 'poppins', sans-serif;
    height: 100vh;
    width: 100vw;
}

#clock{
    width: 500px;
    height: 95vh;
    margin: auto;
    margin-top: 1%;
    padding: 50px 0px;
    border-radius: 16px;
    
    box-shadow: var(--shadow-color) 0 0 10px 0;
    background-color: var(--bg-color);
    position: relative;

}
.ri-sun-fill, .ri-moon-fill{
    font-size: 32px;
    position: absolute;
    top: 30px;
    right: 30px;
    color: var(--primary-color);
    cursor: pointer;
    
    transition: all .3s ease;
}
.ri-sun-fill:hover{
    color: #F0D540;
}
.ri-moon-fill:hover{
    color: var(--shadow-color);
}

#time{
    width: 250px;
    height: 250px;
    margin: auto;
    border-radius: 50%;
    border: 15px var(--bg-color) solid;
    padding: 5px;
    box-shadow:
    inset  var(--shadow-color) 5px 5px 15px 0px,
    var(--shadow-color) 5px 5px 15px 5px ;


    background-color: var(--bg-color);
    
    position: relative;
}

.digital-time{
    width: 100%;
    text-align: center;
    margin: 20px 0;
    font-size: 48px;
    font-weight: 600;
    color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
/* animation of digital clock */
#hours, #minutes, #seconds{
    animation: fadeIn 1s ease-in-out;
}
@keyframes fadeIn {
    0%{
        opacity: 0;
        transform: translateY(-20px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
    
}





.col-hours{
    border: 2px var(--primary-color) solid;
    background-color: var(--primary-color);
    border-radius: 32px;
    width: 30%;
    position: absolute;
    top: 50%;
    right: 20%;
    
    transform: rotate(270deg);
    transform-origin: left; /* rotates from left */
    
    transition: all .5s linear;
}
.col-minutes{
    border: 2px var(--primary-color) solid;
    background-color: var(--primary-color);
    border-radius: 32px;
    width: 40%;
    position: absolute;
    top: 50%;
    right: 10%;
    
    transform: rotate(270deg);
    transform-origin: left; /* rotates from left */
    
    transition: all .5s linear;
}

.col-seconds{
    border: 1px var(--bg-btn-hover-color) solid;
    background-color: var(--bg-btn-hover-color);
    border-radius: 32px;
    width: 45%;
    position: absolute;
    top: 50%;
    right: 5%;
    
    transform: rotate(270deg);
    transform-origin: left; /* rotates from left */
    
    box-shadow: var(--bg-btn-color) 0 0 5px 0;
    
    transition: all .5s linear;
    z-index: 21;
}

.break-point{
    width: 5px;
    height: 10px;
    background-color: var(--primary-color);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: var(--shadow-color) 0 0 5px 0;
}
.break-point1{
    transform: translate(-50%, -50%) rotate(0deg) translateY(-110px);
}
.break-point2{
    transform: translate(-50%, -50%) rotate(90deg) translateY(-110px);
}
.break-point3{
    transform: translate(-50%, -50%) rotate(180deg) translateY(-110px);
}
.break-point4{
    transform: translate(-50%, -50%) rotate(270deg) translateY(-110px);
}



.center-point{
    width: 15px;
    height: 15px;
    background-color: var(--primary-color);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: var(--shadow-color) 0 0 5px 0;
}
.center-point-inner{
    width: 7.5px;
    height: 7.5px;
    background-color: var(--bg-btn-color);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: var(--shadow-color) 0 0 5px 0;
    z-index: 21;
   
}

.alarms{
    width: 100%;
    margin-top: 50px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-radius: 16px;
    box-shadow: var(--shadow-color) 0 -5px 5px 0;
        max-height: 350px;
    
}
.alarms-settings{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px 10px;
}

.alarms-settings h2{
    font-size: 24px;
    font-weight: 600;
    color: var(--primary-color);
}
.alarms-settings i{
    border: none;
    background-color: transparent;
    font-size: 24px;
    color: var(--primary-color);
    cursor: pointer;
    transition: all .3s ease;
}
.alarms-settings i:hover{
    color: var(--shadow-color);
}

.alarm-container{
    position: relative;
}
.delete-alarm{
    position: absolute;
    width: max-content;
    top: 15px;
    right: 0;
    background-color: var(--bg-btn-color);
    color: var(--bg-color);
    padding: 5px 10px;
    border-radius: 8px;
    font-size: 14px;
    cursor: pointer;
    box-shadow: var(--shadow-color) 0 0 10px 0;
    opacity: 0;
    pointer-events: none;
    transition: all .3s ease;
}
.alarm-container:hover .delete-alarm{
    opacity: 1;
    pointer-events: all;
}



.alarms-list{
    display: flex;
    flex-direction: column;
    /* border: 1px solid var(--bg-btn-color); */
    border-radius: 12px;
    gap: 15px;
    max-height: 300px;
    overflow-y: auto;
    padding: 10px;
}
/* scroll bar */
.alarms-list::-webkit-scrollbar{
    width: 6px;
    height: 6px;
}
.alarms-list::-webkit-scrollbar-thumb{
    background-color: var(--primary-color);
    border-radius: 32px;
    box-shadow: var(--shadow-color) 0 0 10px 0;
}

.alarm{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 20px 10px;
    border-radius: 12px;
    box-shadow: var(--shadow-color) 0 10px 10px 0px;
    cursor: pointer;
    transition: all .3s ease;
}
.alarm:hover{
    box-shadow: var(--primary-color) 0 1px 15px 0px;
}
.alarm-time p{
    font-size: 32px;
}
.alarm-date-toggle{
    display: flex;
    align-items: center;
    gap: 15px;
}

.alarm-date-toggle span{
    font-weight: 300;
}
.area{
    background-color: var(--shadow-color);
    width: 40px;
    height: 16px;
    border: none;
    border-radius: 32px;
    position: relative;
    cursor: pointer;
    transition: all .3s ease-in-out;
}
.area:hover{
    background-color: var(--bg-btn-hover-color);
}
.circle{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: darkgray;
    box-shadow: var(--shadow-color) 0 0 5px 0;
    position: absolute;
    top: -10%;
    left: -1%;
    transition: all .3s ease;
    cursor: pointer;
}



.area.active{
    background-color: var(--bg-btn-color);
    box-shadow: var(--bg-btn-color) 0 0 10px 0;
}
.circle.actived{
    right: -1%;
    left: unset;
    background-color: white;
    box-shadow: var(--bg-btn-color) 0 0 5px 0;
}

.add-btn{
    width: 14%;
    padding: 10px ;
    border-radius: 50%;
    border: none;
    margin: auto;
    display: flex;
    justify-content: center;
    /* margin-top: 20px; */
    /* background-color: var(--shadow-color); */
    box-shadow: var(--shadow-color) 0 0 20px 0;
}

.add-alarm{
    font-size: 32px;
    color: white;
    
    cursor: pointer;
    transition: all .3s ease;
    background-color: var(--bg-btn-color);
    padding: 10px;
    border-radius: 50%;
    box-shadow: var(--shadow-color) 0 0 10px 0;
}
.add-alarm:hover{
    box-shadow: var(--shadow-color) 0 0 15px 0;
    background-color: var(--bg-btn-hover-color);
    scale: 1.05;
}

.popup-overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: all .3s ease;
    z-index: 100;
}
.popup-overlay.active{
    visibility: visible;
    opacity: 1;
}
.popup{
    width: 0px;
    height: 0px;
    overflow: hidden;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 101;
    
    background-color: var(--bg-color);
    padding: 0px;
    border-radius: 16px;
    box-shadow: var(--shadow-color) 0 0 20px 0;
}
.popup.show{
    width: 400px;
    height: auto;
    
    padding: 30px 20px;
    transition: all .3s ease;
}


.popup h2{
    text-align: center;
    margin-bottom: 20px;
    color: var(--primary-color);
}
.popup .time-inputs{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}
.popup .time-inputs input{
    width: 80px;
    padding: 10px;
    font-size: 24px;
    text-align: center;
    border: 2px var(--primary-color) solid;
    border-radius: 8px;
    outline: none;
    color: var(--primary-color);
    background-color: var(--bg-color);
}
.popup .popup-buttons{
    display: flex;
    justify-content: space-around;
}
.popup .popup-buttons button{
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
    transition: all .3s ease;
}

.set-btn{
    background-color: var(--bg-btn-color);
    color: var(--bg-color);
    box-shadow: var(--shadow-color) 0 0 10px 0;
}
.set-btn:hover{
    background-color: var(--bg-btn-hover-color);
}
.close-btn{
    background-color: var(--shadow-color);
    color: var(--primary-color);
    box-shadow: var(--shadow-color) 0 0 10px 0;
}
.close-btn:hover{
    background-color: var(--primary-color);
    color: var(--bg-color);
}
.alarm-container{
    display: flex;
    justify-content: space-between;
    gap: 150px;
    align-items: center;


}
.alarm-btns{
    display: flex;
    align-items: center;
    gap: 10px;
}

.alarm-date-toggle{
    display: flex;
    align-items: center;
    gap: 15px;
}
.alarm-date-toggle span{
    font-weight: 300;
    cursor: pointer;
    transition: all .3s ease;
    padding: 5px;
    border-radius: 8px;
    background-color: var(--bg-color);
    box-shadow: var(--shadow-color) 0 0 10px 0;

}
.alarm-date-toggle span:hover{
    background-color: var(--shadow-color);
}
.alarm-date-toggle span.active{
    background-color: var(--bg-btn-color);
    color: var(--bg-color);
    box-shadow: var(--bg-btn-color) 0 0 10px 0;
}
.fa-trash{
    color: var(--primary-color);
    font-size: 20px;
    cursor: pointer;
    transition: all .3s ease;
}
.fa-trash:hover{
    color: var(--bg-btn-hover-color);
}
.fa-pen-to-square{
    color: var(--primary-color);
    font-size: 20px;
    cursor: pointer;
    transition: all .3s ease;
}
.fa-pen-to-square:hover{
    color: var(--shadow-color);
}
