@import url('https://fonts.googleapis.com/css2?family=Island+Moments&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root{
    --bg-color: rgba(255, 255, 255, 1);
    --primary-color: rgba(54, 62, 70, 1);
    --bg-btn-color: rgba(254, 114, 92, 1);
    --bg-btn-hover-color: rgba(254, 114, 92, 0.8);
    /* --text-color: rgb(166, 180, 200); */
    --shadow-color: rgba(166, 180, 200, 0.57);
}
:root.dark{
    --bg-color: rgba(32, 34, 37, 1);
    --primary-color: rgba(166, 180, 200, 1);
    --bg-btn-color: rgba(254, 114, 92, 1);
    --bg-btn-hover-color: rgba(254, 114, 92, 0.8);
    /* --text-color: rgb(166, 180, 200); */
    --shadow-color: rgba(0, 0, 0, 0.57);
}

body{
    background-color: var(--bg-color);
    color: var(--primary-color);
    font-family: 'poppins', sans-serif;
    height: 100vh;
    width: 100vw;
}

#clock{
    width: 500px;
    height: 800px;
    margin: auto;
    margin-top: 5%;
    padding: 50px 20px;
    border-radius: 16px;
    
    box-shadow: var(--shadow-color) 0 0 10px 0;
    background-color: var(--bg-color);
    position: relative;

}
.ri-sun-fill, .ri-moon-fill{
    font-size: 32px;
    position: absolute;
    top: 30px;
    right: 30px;
    color: var(--primary-color);
    cursor: pointer;
    
    transition: all .3s ease;
}
.ri-sun-fill:hover{
    color: #F0D540;
}
.ri-moon-fill:hover{
    color: var(--shadow-color);
}

#time{
    width: 250px;
    height: 250px;
    margin: auto;
    border-radius: 50%;
    border: 15px var(--bg-color) solid;
    padding: 5px;
    box-shadow:
    inset  var(--shadow-color) 5px 5px 15px 0px,
    var(--shadow-color) 5px 5px 15px 5px ;


    background-color: var(--bg-color);
    
    position: relative;
}

.col-hours{
    border: 2px var(--primary-color) solid;
    background-color: var(--primary-color);
    border-radius: 32px;
    width: 30%;
    position: absolute;
    top: 50%;
    right: 20%;
    
    transform: rotate(0deg);
    transform-origin: left; /* rotates from left */
    
    transition: all .5s linear;
}
.col-minutes{
    border: 2px var(--primary-color) solid;
    background-color: var(--primary-color);
    border-radius: 32px;
    width: 40%;
    position: absolute;
    top: 50%;
    right: 10%;
    
    transform: rotate(150deg);
    transform-origin: left; /* rotates from left */
    
    transition: all .5s linear;
}

.col-seconds{
    border: 1px var(--bg-btn-hover-color) solid;
    background-color: var(--bg-btn-hover-color);
    border-radius: 32px;
    width: 45%;
    position: absolute;
    top: 50%;
    right: 5%;
    
    transform: rotate(120deg);
    transform-origin: left; /* rotates from left */
    
    box-shadow: var(--bg-btn-color) 0 0 5px 0;
    
    transition: all .5s linear;
    z-index: 21;
}
.center-point{
    width: 15px;
    height: 15px;
    background-color: var(--primary-color);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: var(--shadow-color) 0 0 5px 0;
}
.center-point-inner{
    width: 7.5px;
    height: 7.5px;
    background-color: var(--bg-btn-color);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: var(--shadow-color) 0 0 5px 0;
    z-index: 21;
}

.alrams{
    width: 100%;
    margin-top: 50px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-radius: 16px;
    box-shadow: var(--shadow-color) 0 0 10px 0;
}
.alrams-settings{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.alrams-settings h2{
    font-size: 24px;
    font-weight: 600;
    color: var(--primary-color);
}
.alrams-settings i{
    border: none;
    background-color: transparent;
    font-size: 24px;
    color: var(--primary-color);
    cursor: pointer;
    transition: all .3s ease;
}
.alrams-settings i:hover{
    color: var(--shadow-color);
}